
/* ==================
    => footer
===================== */


footer{
  background-color: #1b1b1b;
  padding: 17px 0;
  text-align: center;
  font-size: 18px;
}

.style{
  background-color: teal;
}




